.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(255.35deg, #dc3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #ff5e56;
  box-shadow: 0px -0.11px 16.9495px rgba(183, 187, 225, 0.33);

  .btnOpen {
    width: 198px;
    height: 56px;
    border: 1px solid #ffffff;
    color: #ffffff;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-width: 552px;
  background: #ffffff;
  border-radius: 30px;
  @media (max-width: 760px) {
    max-width: 760px;
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
  .closeBtn {
    padding: 27px 23px 0 0;
    float: right;
    cursor: pointer;
  }
  .modalCont {
    position: relative;
    margin: 45px 32px 32px 32px;
    height: 100%;
    @media (max-width: 760px) {
      margin: 45px 16px 16px 16px;
    }

    .title {
      font-size: 28px;
      font-weight: 600;
      @media (max-width: 760px) {
        font-size: 18px;
      }
    }

    .description {
      font-size: 14px;
      font-weight: 400;
      color: #808080;
      margin-top: 16px;
      line-height: 24px;
      @media (max-width: 760px) {
        font-size: 12px;
        line-height: 16px;
      }
    }

    .formCont {
      max-height: 500px;
      margin-top: 24px;
      overflow-y: auto;

      .salaryTitle {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 8px;
      }

      .salaryInput {
        border: 1px solid #dfe3e6;
        box-sizing: border-box;
        border-radius: 3px;
        width: 100%;
        height: 40px;
        margin-bottom: 8px;
        font-size: 14px;
      }

      .calc {
        cursor: pointer;
        color: #ea0029;
        font-size: 14px;
      }

      .checkboxForm {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #dfe3e6;
        margin-left: 5px;
        height: 56px;
      }

      .checkboxTitle {
        font-style: normal;
        font-weight: 600;
        margin-top: 40px;
        font-size: 14px;
      }

      .otherCont {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        margin-top: 40px;

        @media (max-width: 760px) {
          flex-wrap: wrap;
        }

        .otherTitle {
          font-size: 14px;
          font-weight: 600;
          margin-right: 40px;
          text-transform: none;
        }

        .formRadioBtnCont {
          display: flex;
          align-items: center;
        }

        .formRadioBtn {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .formRadioBtn input[type='radio'] {
          display: none;
        }
        .formRadioBtn label {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          width: 73px;
          margin-right: 16px;
          padding: 0px 15px;
          line-height: 34px;
          border-radius: 50px;
          user-select: none;
          background: #eef0f2;
          color: #000;
        }

        .formRadioBtn input[type='radio']:checked + label {
          background: linear-gradient(255.35deg, #dc3131 0.83%, rgba(255, 79, 79, 0) 108.93%),
            #ff5e56;
          color: #fff;
        }
      }
    }
    .addBtnCont {
      @media (max-width: 760px) {
        position: absolute;
        width: 100%;
        bottom: 60px;
      }
    }

    .addBtn {
      width: 100%;
      height: 56px;
      font-size: 16px;
      text-transform: none;
      background: linear-gradient(255.35deg, #dc3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #ff5e56;
      box-shadow: 0px 0px 24px rgba(234, 0, 41, 0.33);
      border-radius: 6px;
      color: #fff;
    }
  }

  .smallTextCheckbox {
    font-size: 14px;
    font-weight: 400;
    color: #808080;
  }
}
