@font-face {
  font-family: Lab Grotesque;
  src: local('LabGrotesque-Regular'),
    url('../src/assets/fonts/LabGrotesque-Regular.ttf') format('opentype');
}

* {
  font-family: Lab Grotesque, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
